/config/config.php
.env.test
/vendor/
composer.lock
/storage/hires/
/storage/zips/
/storage/tmp/
/storage/cache/
/storage/*.sqlite*
!/storage/hires/.gitkeep
!/storage/zips/.gitkeep
!/storage/tmp/.gitkeep
!/storage/cache/.gitkeep
/public/media/d/
!/public/media/d/.gitkeep
*.log
.DS_Store
/.phpunit.cache/
