/config/config.php
/vendor/
/storage/hires/
/storage/zips/
/storage/tmp/
!/storage/hires/.gitkeep
!/storage/zips/.gitkeep
!/storage/tmp/.gitkeep
/public/media/d/
!/public/media/d/.gitkeep
*.log
.DS_Store
